.style-nav{
    display: contents !important;
}


.color-text{
    border: none;
    border-radius: 20px;
}

.color-text:hover{
    background-color: rgb(196, 196, 196);
    color: rgb(51, 0, 36);
}
.width-nav{
    width: 100%;
}

